/************
*    ABOUT
*************/
html, body {
    overflow: hidden;
}

.about {
    background-color: var(--color-primary);
}

.about .container{
    display: flex;
}

.about .timing {
    position: relative;
    top: -50px;
    width: 33%;
    padding: 20px;
    background-image: url(../images/brush-big.jpg);
}

.about .timing .overlay {
    background-color: rgba(0, 0 ,0 , 0.8);
    text-align: center;
    padding: 40px 20px;
}

.about .timing .icon-cut{
    width: 50px;
}

.about .timing h3{
    color: var(--color-primary);
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-primary);
    width: fit-content;
    margin: 0 auto 30px auto;
    font-size: 30px;
}

.about .timing .text {
    margin: 10px 0;
}

.about .timing .text::after{
    content: '•';
    color: white;
    display: block;
    font-size: 28px;
    margin-top: 10px;
}

.about .timing .text:last-of-type:after {
    content: '|';
}

.about .timing .text h4{
    color: grey;
    font-weight: 400;
    font-size: 15px;
}

.about .timing span {
    color: white;
    font-size: 15px;
    display: block;
}

.about .experience {
    width: 66%;
    color: white;
    margin-left: 7%;
    margin-top: 100px;
}

.about .experience h2 {
    font-weight: 400;
    font-size: 40px;
}

.about .experience h2::after {
    display: block;
    content: "";
    width: 100px;
    height: 3px;
    background-color: white;
    margin: 20px 0;
}

.about .experience .text {
    display: flex;
    justify-content: space-between;
}

.about .experience .text p {
    margin-bottom: 20px;
    font-weight: 100;
    font-size: 17px;
    word-wrap: break-word;
}

@media (max-width: 1190px) {
    .experience img {
        display: none;
    }
}

@media (max-width: 930px) {
    .about .container {
        flex-direction: column;
    }

    .about .timing {
        left: 5%;
        width: 350px;
    }

    .about .experience {
        margin-top: -30px;
    }
    
    .experience img {
        margin-top: -700px;
        margin-left: 330px;
        display: block;
        height: 400px;
        width: 400px;
    }
}

@media (max-width: 725px) {
    .experience img {
        display: none;
    }
}
