/****************
*   Location
*****************/

.location {
    padding: 100px 0;
    background-image: url(../images/bg-location.jpg);
    background-size: cover;
}

.location .head {
    display: flex;
    justify-content: space-between;
    background-color: #191919;
    padding: 40px;
    width: 100%;
}

.location .head .info {
    display: flex;
    align-items: center;
}

.location .head .info .icon {
    display: flex;
    align-items: center;
    margin-right: 15px;
    justify-content: center;
    padding: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid var(--color-primary);
    border-radius: 100%;
}

.location .head .info .text span {
    display: block;
    font-size: 13px;
}

.location .head .info .text span:first-child {
    color: silver;
}

.location .head .info .text span:last-child {
    color: white;
}

.location .map {
    width: 100%;
}

.location .map iframe {
    width: 100%;
}


/******************
*  Responsividade
******************/

@media (min-width: 800px) and (max-width: 990px) {
    .location .head {
        flex-direction: column;
        padding: 40px;
        width: 90%;
        margin-left: 50px;
    }
    
    .location .head .info {
        margin-bottom: 10px;
        margin-left: 25%;
    }

    .location .head .info .icon {
        margin-bottom: 10px;
    }
}

@media (max-width: 800px) {
    .location .head {
        flex-direction: column;
        padding: 40px;
        width: 100%;
    }
    
    .location .head .info {
        margin-bottom: 10px;
        margin-left: 25%;
    }

    .location .head .info .icon {
        margin-bottom: 10px;
    }
}